@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  font-size: 14px;
  line-height: 1;
  @apply font-inter
}

.btn-primary {
  @apply flex rounded-md bg-theme-primary-clr py-3 px-4 text-white hover:bg-text-secondary-clr transition  disabled:opacity-60 disabled:pointer-events-none;
}

.btn-outline {
  @apply flex rounded-md border border-theme-primary-clr py-3 px-4 text-text-primary-clr hover:bg-theme-primaryTransparent-clr transition;
}